.cardReset{
    box-shadow: 12px 7px 13px -3px #b4bfd8;
    border-radius: 5px !important;
    animation: fadeIn 900ms ease-out;
    animation-fill-mode: backwards;
}

.shadow{
    box-shadow: 0 0 2px rgba(0,0,0,.15);
}

.cardDetails{
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardDetails img{
    width: 3rem;
    height: 3rem;
}

.cardText{
    text-align: right;
}

.cardText h2{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #2e3f63;
}

.cardText h3{
    font-size: 1.7rem;
    font-weight: 600;
    color: #2e3f63;
}

.mb2{
    margin-bottom: 2rem;
}