.cardReset{
    box-shadow: 12px 7px 13px -3px #b4bfd8;
    border-radius: 5px !important;
    animation: fadeIn 900ms ease-out;
    animation-fill-mode: backwards;
}

.img{
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}